<% provide(:title, 'Home') %>
<div class="post_section">
  <div class="post_date">
    30<span>Nov</span>
  </div>
  <div class="post_content">
    <h2>Bài số 1</h2>
    <strong>Author:</strong> Steven | <strong>Unit:1</strong>
    <%= image_tag "templatemo_image_01.jpg" %>
    <p>
      vvvvv
    </p>
    <p>
      24 Comments | <%= link_to "Continue reading...",'#'%>
    </p>
  </div>
  <div class="cleaner"></div>
</div>
<div class="cleaner"></div>

